@import "../../scss/variables.scss";
@import "../../scss/utility.scss";
///////////////////////////////
//////////////////////////////

.expenses-dashboard {
  width: 70%;
  height: auto;
  margin: 2em auto;
  padding: 1em;

  &__add-spending-plan-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;

    > h3 {
      font-size: 1.25rem;
      font-weight: 900;
    }

    > button {
      padding: 1em;
      background-color: $secondaryColor;
      color: #ffff;
      font-size: 0.85rem;
      font-weight: 400;
      border: 0;
      outline: 0;
      cursor: pointer;

      > span {
        font-weight: 900;
        margin-right: 0.2rem;
      }
    }

    button:hover {
      background: lighten($secondaryColor, 20%);
    }
  }
}

/****************************************/
/****************************************/
/****************************************/
/*****Spending Plan component CSS********/
/****************************************/
/****************************************/

.spending-cards-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.spending-plan-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 40%;
  border: 1px solid lightgrey;
  padding: 1.5em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 13px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  &__delAndAddoptions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: inline;
      img {
        width: 20px;
        height: 20px;
        margin-right: 0.25rem;
        cursor: pointer;
      }
    }
  }

  &__dateCreated {
    > span {
      @extend .text-dark;
    }

    > p {
      @extend .text-muted;
    }
  }

  &__spendingsSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      > span {
        @extend .text-dark;
      }

      > p {
        @extend .text-muted;
      }
    }
  }
}

.text-muted {
  font-size: 13px;
  color: rgb(172, 172, 172);
  font-weight: 600;
}

.text-dark {
  font-size: 15px;
  font-weight: 700;
  margin-top: 0.4rem;
}

.empty-notify-message {
  font-weight: bold;
  font-size: 0.95rem;
}

@media (max-width: 600px) {
  .expenses-dashboard {
    width: 90%;
  }
  .spending-plan-card {
    width: 80%;
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
