@import "../../scss/variables.scss";
@import "../../scss/utility.scss";

////////////////////////////////////////////
////////////////////////////////////////////@

.Form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.355em;
  padding: 1em 1em;
  background: $lightColor;

  > p {
    line-height: 1.6;
    font-weight: 700;
    font-size: 16px;
    font-family: sans-serif;
  }

  &__catIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__submitBtn {
    @extend .flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.944em;
    width: 90%;
    font-size: 1rem;
    background: $secondaryColor;
    color: $whiteColor;
    outline: 0;
    border: 0;
  }
}

.spending-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spending-modal .spending-modal-bg {
  width: 40%;
  padding: 1.8em 1.5em;
  background: $whiteColor;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  position: relative;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.spending-modal-bg form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.spending-modal-bg form input {
  padding: 1em;
  border: 1px solid lightgray;
  outline: 0;
}

.spending-modal-bg form button {
  cursor: pointer;
  padding: 1em;
  font-family: "Kumbh Sans";
  font-weight: 900;
  background: lightseagreen;
  color: #ffff;
  border: 0;
}

/// Animation
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
