@import "../../../scss/variables.scss";
@import "../../../scss/utility.scss";

////////////////////////////////////////////
////////////////////////////////////////////@

.category {
  background: $whiteColor;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 0.4s ease;
}

.active {
  background: #e5e5e5;
}
