b {
  margin: 1em;
}

.transactions-history::-webkit-scrollbar {
  display: none;
}

.transactions-history {
  display: flex;
  flex-direction: column-reverse;
  width: 59%;
  height: auto;
  overflow: scroll;
  margin: 1em;
  padding: 1em 0em;

  .transaction-card {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0.5em;
    border: 1px solid lightgrey;
    border-right: 5px solid lightcoral;

    > p:nth-child(1) {
      width: 20%;
    }

    > p:nth-child(2) {
      width: 20%;
    }

    > P:nth-child(3) {
      width: 20%;
      font-weight: 900;
    }
    > img {
      cursor: pointer;
    }
  }
}
