/************************************************/
/************************************************/
/************************************************/
/************************************************/

$primaryColor: #fffad1;
$secondaryColor: #16304a;
$lightColor: #f6f9fc;
$whiteColor: #ffff;
$blackColor: #0000;

$fontBold: 400;
$fontBold-900: 900;
$fontBold-700: 700;
